<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs')%>
    
    <title>Virtual Courses</title>
</head>
<body id="body">
    
    <%- include('partials/navegation.ejs')%>

    <main>

        <section class="category">

            <h1>Category</h1>

            <div class="border">
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            </div>

            <div id="tags" class="tags">
                <% let indexColor = 0; %>
                <% const colors = ["blue","red","yellow","green","purple"]; %>
                <% lenguages.forEach(function(lenguages) { %>
                    <p class=<%=colors[indexColor] %>><%= lenguages %></p>
                    
                    <% if(indexColor > 3) { %>
                        <% indexColor = 0; %>
                    <% } else { %>
                        <% indexColor++; %>
                    <% } %>

                <% }); %>
            </div>

        </section>

        <div class="border">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./effects.js"></script>
    
</body>
</html>