<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs')%>
    
    <title>Virutal Courses</title>
</head>
<body id="body">
    
    <%- include('partials/navegation.ejs')%>

    <main>

        <section class="category">

            <h1>Category</h1>

            <div class="border">
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            </div>

            <div id="tags" class="tags">
                <%=

                /* const colors = [yellow,blue,red,green,purple];
                const lenguages = ["Javascript","TypeScript","HTML","CSS","SASS","LESS",
                                   "Bootstrap","Tailwind","React","Vue","Angular","Next",
                                   "Nuxt","Svelte","Node","Deno","Express","SQL","NoSQL",
                                   "MySQL","MongoDB","PHP","Java","C#","Ruby","Go"",C++","C","Rust",
                                   "Dart","Flutter","Python","R","Assemble","Kotlin","Swif","M"];

                for(let i; i<=lenguages.lenght; i++)
                {
                    <p class=${colors[i]}># + lenguages[i]</p>
                }

                for(let i of lenguages)
                {
                    <p class=${colors[i]}>#+i</p>
                }*/
                
                %>
                <!-- <p class="yellow">#Javascript</p><p class="blue">#Typecript</p><p class="red">#HTML</p>
                <p class="blue">#CSS</p><p class="pink">#SASS</p><p class="blue">#Bootstrap</p>
                <p class="yellow">#Tailwind</p><p class="blue">#React</p><p class="red">#Next</p>
                <p class="green">#Vue</p><p class="yellow">#Nutx</p><p class="red">#Angular</p>

                <p class="yellow">#Svelte</p><p class="green">#Node</p><p class="purple">#Deno</p>
                <p class="green">#Express</p><p class="yellow">#SQL</p><p class="blue">#NoSQL</p>
                <p class="yellow">#MySQL</p><p class="green">#MongoDB</p><p class="purple">#PHP</p>
                <p class="red">#Java</p><p class="blue">#Go</p><p class="red">#Ruby</p>

                <p class="purple">#C#</p><p class="blue">#C++</p><p class="red">#Rust</p>
                <p class="blue">#Dart</p><p class="blue">#Flutter</p><p class="yellow">#Python</p>
                <p class="red">#R</p><p class="blue">#Assembly</p><p class="green">#Kotlin</p>
                <p class="yellow">#Swif</p><p class="blue">#M</p> -->
            </div>

        </section>

        <div class="border">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./effects.js"></script>
    <!-- <script src="./api.js"></script> -->
    
</body>
</html>