<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs')%>
    
    <title>Virtual Courses</title>
</head>
<body id="body">
    
    <%- include('partials/navegation.ejs')%>

    <main>

        <section class="intro">

            <div class="textIntro">
                <h2 class="title">Lorem ipsum, dolor sit consectetur</h2>
                <p class="description">Lorem ipsum dolor sit amet </br> 
                    Quae voluptates numquam delectus facere, nobis modi </br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                <div class="buttonIntro">
                    <button class="introButton">Free Lesson</button>
                    <button class="introButton">Pro Courses</button>
                </div>
            </div>
            <img src="https://microsofters.com/wp-content/uploads/2017/06/artificial-intelligence-409255165-ss-1920-1021x580.jpg.webp" alt="intro">
        </section>

        <div class="border">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
        </div>

        <%- include('partials/footer.ejs')%>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./effects.js"></script>
    <!-- <script src="./api.js"></script> -->
</body>
</html>