

:root
{
    --bodyBg: rgb(30, 34, 44);
    --navBg: rgb(58, 66, 85);
    --navColor: rgb(141, 156, 179);
    --navBgHover: rgb(207, 218, 235);
    --logoColor: rgb(43, 106, 241);
    --logoHover: rgb(0, 65, 204);
    --closeColor: rgb(148, 24, 24);
    --closeHover: rgb(211, 29, 29);
}

body.lightTheme
{
    --bodyBg: rgb(161, 165, 177);
    --navBg: rgb(215, 218, 223);
    --navColor: rgb(82, 84, 87);
    --navBgHover: rgb(31, 33, 39);
    --logoColor: rgb(43, 106, 241);
    --logoHover: rgb(0, 65, 204);
    --closeColor: rgb(148, 24, 24);
    --closeHover: rgb(211, 29, 29);
}

/* ------------------------------- SCROLL BAR ------------------------------------ */
::-webkit-scrollbar
{
    width: .60rem;
    background-color: var(--navBg);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--navColor);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: var(--navBgHover)
}


body
{
    margin: 0;
    padding: 0;
    background-color: var(--bodyBg);
    font-family: Arial, Helvetica, sans-serif;
}

/*================================================== NAVEGATION ==================================================*/
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navBg);
    color: var(--navColor);
    font-weight: bolder;
    font-size: 20px;
}

nav ul
{
    display: flex;
    list-style: none;
}

nav ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo
{
    font-size: 40px;
    color: var(--logoColor);
    cursor: pointer;
}

nav a
{
    text-decoration: none;
    color: var(--navColor);
}

.mainNav
{
    margin-right: 300px;
    margin-left: 300px;
}

.mainNav li
{
    margin: 0 10px 0 10px;
}

.mainNav li i
{
    margin-right: 3px;
}

.mainNav li:hover
{
    transform: translateY(-5px);
    transition: 0.5s;
    color: var(--navBgHover);
}

.userNav
{
    font-size: 28px;
}

.userNav li
{
    margin: 0 20px 0 20px;
}

nav ul li span
{
    display: none;
    font-size: 15px;
    color: var(--navBgHover);
    background-color: var(--logoColor);
    padding: 3px;
    margin-left: 3px;
    border-radius: 3px;
    position: fixed;
    transform: translateY(30px);
}

.userNav li:hover
{
    transition: 0.5s;
    color: var(--navBgHover);
}

#search:hover > #searchSpan
{
    display: flex;
}
#login:hover > #loginSpan
{
    display: flex;
}

#light
{
    display: none;
}

/*================================================== SEARCH AREA ==================================================*/

.searchForm
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    gap: 30px;
    width: 100%;
    margin-top: 10%;
    position: relative;
}

.navArea
{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;  
    opacity:0;
    transform: scale(0.2);
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
}

.searchInput
{
    background-color: transparent;
    color: rgb(141, 156, 179);
    font-weight: bolder;
    font-size: 30px;
    border: rgb(58, 66, 85) 2px solid;
    width: 75%;
    height: 75px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.closeButton
{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: var(--navColor);
    background-color: var(--closeColor);
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 15px;
}

.closeButton:hover
{
    background-color: var(--closeHover);
    color: rgb(207, 218, 235);
    transform: translateY(5px);
    transition: 0.5s;
}

/*================================================== LOGIN AREA ==================================================*/

#loginArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signInArea, .signUpArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(58, 66, 85);
    color: rgb(141, 156, 179);
    font-weight: bolder;
    font-size: 30px;
    border-radius: 10px;
    width: 25%;
    height: 70vh;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.signUpArea
{
    display: none;
    width: 30%;
    height: 75vh;
}

.loginInput
{
    background-color: rgba(0, 0, 0, 1);
    color: rgb(207, 218, 235);
    font-weight: bolder;
    font-size: 16px;
    border: rgb(30, 34, 44) 2px solid;
    width: 80%;
    height: 50px;
    border-radius: 3px;
    padding-left: 5px;
}

.loginButton
{
    width: 240px;
    height: 50px;
    border-radius: 3px;
    border: none;
    color: rgb(207, 218, 235);
    background-color: rgb(30, 34, 44);
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
}

.loginButton:hover
{
    opacity: 0.75;
    transition: 0.5s;
}

.loginChange
{
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: rgb(207, 218, 235);
    background-color: rgb(30, 34, 44);
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
}

.loginChange:hover
{
    opacity: 0.75;
    transition: 0.5s;
}

.loginEnter
{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: rgb(207, 218, 235);
    background-color: var(--logoColor);
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 20px;
}

.loginEnter:hover
{
    background-color: var(--logoHover);
    color: rgb(207, 218, 235);
    transform: translateY(5px);
    transition: 0.5s;
}

#loginArea a
{
    text-decoration: none;
    color: rgb(141, 156, 179);
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

#loginArea a:hover
{
    text-decoration: underline;
}

/*================================================== MAIN ==================================================*/

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro
{
    margin: 10% 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textIntro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
    font-weight: bold;
    padding-right: 10%; 
    color: var(--navBgHover);
}

.title
{
    font-size: 36px;
}

.description
{
    font-size: 25px;
    color: var(--navColor);
}

.introButton
{
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: none;
    color: var(--navBgHover);
    background-color: transparent;
    border: var(--logoColor) 2px solid;
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
    margin: 30px 10px 0 10px;
}

.introButton:hover
{
    background-color: var(--logoColor);
    transform: translateY(10px);
    transition: 0.5s;
}

main img
{
    width: 500px;
}

.border
{
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
}

/*================================================== ABOUT ==================================================*/

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0 5% 0;
}

.about ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials
{
    font-size: 30px;
}

.socials i
{
    margin-right: 20px;
}

.mobilApps img
{
    width: 225px;
    height: 75px;
    margin-right: 30px;
}

.more
{
    font-size: 16px;
    color: var(--navColor);
    margin-right: 30px;
}

.more li
{
    margin-right: 10px;
}

.more li:hover
{
    text-decoration: underline;
    color: var(--navBgHover);
    transition: 0.5s;
    cursor: pointer;
}

.about p 
{
    font-size: 14px;
    font-style: italic;
    color: var(--navColor);
}

.about p i
{
    font-size: 20px;
    margin-right: 5px;
}

/*================================================== CATEGORY ==================================================*/

.category
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--navBgHover);
    font-weight: bolder;
}

.category h1
{
    font-size: 40px;
}

.tags
{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(10,0fr);
    gap: 10px;
    color: var(--navBgHover);
    font-size: 20px;
    font-weight: normal;
}

.tags p
{
    border-radius: 3px;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.blue
{
    background-color:rgb(29, 93, 230)
}
.red
{
    background-color:rgb(233, 37, 70)
}
.yellow
{
    background-color:rgb(247, 182, 41)
}
.green
{
    background-color:rgb(66, 189, 103)
}
.pink
{
    background-color:rgb(192, 78, 158)
}
.purple
{
    background-color:rgb(97, 40, 143)
}

/*================================================== COURSES ==================================================*/

.courses
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--navBgHover);
    font-weight: bolder;
}

.courses h1
{
    font-size: 40px;
}

.courseArea
{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}

.courseButton
{
    width: 150px;
    height: 30px;
    background-color: rgb(67, 182, 82);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0 10px 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.courseButton:hover
{
    transform: translateY(-5px);
    transition: 0.5s;
}

.course
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navBg);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.course img
{
    width: 500px;
    height: 300px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.course video
{
    width: 500px;
    height: 300px;
}

.course:hover
{
    transform: translateY(-10px);
    transition: 0.5s;
}

.courseTitle
{
    font-size: 30px;
    margin: 10px 0 10px 0;
}

.courseDescription
{
    font-size: 20px;
    margin: 10px 0 10px 0;
}
