
<section class="about">

            <ul class="socials">
                <li><a href="https://www.github.com" target="_blank"><i class="fab fa-github-alt" style="color: rgb(0, 0, 0);"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube" style="color: rgb(163, 10, 44);"></i></a></li>
                <li><a href="https://www.discord.com" target="_blank"><i class="fab fa-discord" style="color: rgb(107, 47, 156);"></i></a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" style="color: rgb(17, 79, 194);"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter" style="color: rgb(60, 118, 226);"></i></a></li>
            </ul>
            
            <ul class="mobilApps">
                <li><a href="https://play.google.com/store" target="_blank">
                    <img src="./assets/google_play_btn.png" alt="google_play">
                </a></li>
                <li><a href="https://www.apple.com/" target="_blank">
                    <img src="./assets/app_store_btn.png" alt="app_store">
                </a></li>
            </ul>
            
            <ul class="more">
                <li>Privacy</li>
                <li>Terms</li>
                <li>Jobs</li>
            </ul>
            
            <p>Created with 
                <i class="fab fa-html5" style="color: rgb(204, 80, 23);"></i>
                <i class="fab fa-css3-alt" style="color: rgb(41, 97, 201);"></i>
                <i class="fab fa-js-square" style="color: rgb(226, 194, 10);"></i>
            </p>
            <p>Copyright © 2021 Pablo Zerpa</p>

</section>